.c-btn {
    border: 1px solid $gray;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $gray;
    color: #fff;
    text-align: center;
    transition: 0.3s;

    &:hover {
        background-color: #fff;
        color: $gray;
    }

    &.is-full {
        display: block;
        width: 100%;
    }

    &.is-reverse {
        background-color: #fff;
        color: $gray;

        &:hover {
            background-color: $gray;
            color: #fff;
        }
    }
}
